
.health{
    background-image: url(../../img/runners\.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.health__freedom{
    width: 500px;
    margin-left: auto;
    padding-top: 240px;
    padding-bottom: 239px;
}

.health__title{
    font-family:"Roboto";
    font-weight: 700;
    font-size:50px ;
    line-height:60px ;
    color:#FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
}

.health__text{
    font-family:"Roboto" ;
    font-weight: 400;
    font-size:16px ;
    line-height:24px;
    color:#FFFFFF;
    padding-left: 40px;
    border-left: 3px solid #FFFFFF;
    margin-bottom: 30px;
}




.health__link{
    color:#FFFFFF;
    display: block;
    font-family: "Roboto";
    font-weight: 700;
    font-size:18px ;
    line-height:27px ;
    text-decoration: none;
    width: 260px;
    height: 51px;
    background-color: #EA625C;
    padding: 12px 38px;
    text-align: center;
    
}

.health__link:hover{
    // opacity: 0.8;
    background-color: #CE4F49;

}
